form {
    display: flex;
    flex-wrap: wrap;
}

.left {
    padding-left: 10px;
    flex: 50%;
    max-width: 100%;
}

.right {
    flex: 50%;
    max-width: 100%;
    display: table-column;
    flex-wrap: wrap;
}

.top {
    flex: 50%;
}

.bottom {
    flex: 50%;
    padding: 20% 35%;
}