.nav-link {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.nav-link li {
    margin: 20%;
}

.nav-link a {
    /* border: 1px solid black;
    color: #fc585a;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem; */
    /* box-shadow: 2px 5px grey; */
    padding: 6px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #fc585a;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 4px grey;
}

.nav-link a:hover {
    background: grey;
    border-color: #292929;
    color: #292929;
}

.nav-link a:active,
.nav-link a.active {
    cursor: default;
    background: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: 2px 4px transparent;
}
